body{
	background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(201,166,237,1) 48%, rgba(28,51,56,1) 93%);
}
img {width: 40%
}
h1 {background-colour: 
	font-family:"Lucida Console", "Courier New"
	, monospace;
}

